*{
    margin: 0;
    padding: 0;
   font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      


header{
    size: auto;
    background-color: #ffcc66;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.itens{
    display: block;
}

#item:hover {
cursor: pointer;
color: #cc3300;

}

.banner{
    width: 100%;
    height: auto;
}
   